.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
  font-size: 14px;
}

.WeatherForecast-temperature-max {
  font-size: 14px;
}

.WeatherForecast-day {
  text-transform: uppercase;
  font-size: 14px;
}
