.Weather {
  border: 1px Solid #132743;
  border-width: 1px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  max-width: 600px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .temperature {
  color: darkblue;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.Weather .unit {
  position: relative;
  font-size: 16px;
  top: -34px;
}
