.Weather {
  border: 1px Solid #132743;
  border-width: 1px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  max-width: 600px;
}

.Weather canvas {
  margin: 10px auto;
}
.Weather .temperature {
  color: #000000;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.Weather .unit {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather .weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #48484a;
}

.Weather .weather-forecast-date {
  font-size: 16px;
}

.Weather .weather-forecast-temp {
  font-size: 13;
}

.Weather .weather-forecast-temp-min {
  opacity: 0.5;
}
